<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <img src="/img/image.jpg" width="70 " height="100" alt="">
    <h1>Guia perguntas!</h1>
    <hr>
    <h3>Lista de perguntas</h3>

    <!-- Mostra variavel -->
    <p>Nome: <%= nome %></p>
    <p>Linguagem: <%= lang %></p>
    <p>Empresa: <%= empresa %></p>
    <p>Inscritos: <%= inscritos %></p>

    <!-- Condicional em ejs -->
    <% if(msg){ %>
        <h3>Isso e uma msg de erro!</h3>
    <% } else { %>
        <h3>Nenhum erro!</h3>
    <% } %>
    <hr>
    <!-- Condicional de foreach -->
    <%# produtos.forEach(function(produto) { %>
    <% produtos.map(p => { %>
        <%= p.nome %>
        <%= p.preco %>
        <hr>
    <%  }) %>    

   
</body>
</html>